@font-face {
  font-family: 'nav_arrows';
  src: url('../fonts/nav_arrows.eot?25237772');
  src: url('../fonts/nav_arrows.eot?25237772#iefix') format('embedded-opentype'),
       url('../fonts/nav_arrows.woff2?25237772') format('woff2'),
       url('../fonts/nav_arrows.woff?25237772') format('woff'),
       url('../fonts/nav_arrows.ttf?25237772') format('truetype'),
       url('../fonts/nav_arrows.svg?25237772#nav_arrows') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'); /* Modern Browsers */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'); /* Modern Browsers */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'); /* Modern Browsers */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
